@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	overflow-x: hidden; 
}

header{
	background-color: rgba(0,0,0,.3);
	position: fixed;
	width: 100%;
	font-size: 0;
	z-index: 3;
}
.verde{
	color: #0feb9e;
	display: inline-block;
}

.logo, .menu{
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.logo{
	text-align: left;

}

.menu{
	width: 50%;
	list-style: none;
	text-align: right;
}

.menu ul{
	display: inline-block;
	font-size: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu ul li{
	display: inline;
}

.menu ul li a{
	display: inline-block;
	font-size: 15px;
	text-decoration: none;
	padding: 20px 15px;
	border-top: 1px solid transparent;
	color: #fff;
	transition: all .5s ease-in-out;
}

.menu ul li a:hover{
	border-top: 1px solid #32b0ee;
	color: #32b0ee;

}

#inicio{
	background-image: url(images/image-carousel.jpg);
	color: #fff;
}

.titulo{
	padding: 230px 30px;
	text-align: center
}

h1{
	font-size: 62px;
	font-weight: 300;
}

h2{
	font-size: 48px;
	font-weight: 300;
}

h3{
	font-size: 18px;
	text-align: center
}

.subtitulo{
	position: relative;
	display: inline-block;
}

.subtitulo:after, .subtitulo:before{
	display: inline-block;
	content: "";
	height: 1px;
	background-color: #0feb9e;
	width: 25px;
	position: absolute;
	top: 30px;
}
.subtitulo:after{ 
	right: -35px;
}

.subtitulo:before{
	left: -35px;
}

#features h4{
	margin-bottom: 110px;
}

h4{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 28px;
	color: #0eb493;
}

.conteudo{
	margin: 40px 0;
}

.textbox{
	text-align: left;
}
.textbox h5{
	font-size: 20px;
	font-weight: 500;
	display: inline-block;
	margin-left: 5px;
}
.textbox p{
	font-size: 12px;
	margin-left: 45px
}

#works h4{
	margin-bottom: 70px;
}

#works p{
	font-size: 18px;
	font-weight: 600;
	padding: 0 60px;
	margin-bottom: 50px;
}

.filter{
	display: inline-block;
	list-style: none;
}

.filter ul li{
	display: inline-block;
	margin: 0 15px;
}

.filter ul li a{
	text-decoration: none;
	color: #000;
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 3px;
	transition: all .7s ease;
}

.filter ul li a:hover{
	color:#fff;
	background-color: #0eb493;

}

.teste{
	background-size: cover;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center center;
}

.nopadding{
	padding: 0;
}
.mask{
	opacity: 0;
	background-color: rgba(15,235,158, .7);
	padding: 85px;
	transition: all .3s ease;
}

.mask p{
	color: #fff;
}

.mask:hover{
	opacity: 1;
	
}